In [1]:
import h5py as hp
import pandas as pd
import numpy as np
import time as tm

C:\ProgramData\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [2]:
df2=pd.DataFrame(columns=['msno','song_id','song_length','played_length','day','artist_id','hear_percent','hear_gap'])
df2=df2.groupby(['artist_id','day'])['msno'].count()
size=0
for ii in range(97,101,1):
    for j in range(97,123,1):
        file_name='a'+chr(ii)+chr(j)+'.h5'
        df=pd.read_hdf(file_name,'a')
        df['day']=df.day.apply(lambda n : 'First_Week_People' if n<=4 else 'Second_Week_People' if n<=11 else 'Third_Week_People' if n<=18 else 'Forth_Week_People' if n <= 25 else 'Final_Week_People')
        #df['week']=df.day.apply(lambda n : 'First_Week' if n<=4 else 'Second_Week' if n<=11 else 'Third_Week' if n<=18 else 'Forth_Week' if n <= 25 else 'Final_Week')
        df=df.groupby(['artist_id','day'])['msno'].count()
        df2=df2.add(df,fill_value=0)       
        print ('File_name:%s Data_size:%d'%(file_name,len(df)))
        size=size+len(df)
        if(ii==100 and j==108):
            break
print ('Data_size:%d'%(size))

File_name:aaa.h5 Data_size:54532
File_name:aab.h5 Data_size:55149
File_name:aac.h5 Data_size:58766
File_name:aad.h5 Data_size:65257
File_name:aae.h5 Data_size:68909
File_name:aaf.h5 Data_size:70661
File_name:aag.h5 Data_size:79190
File_name:aah.h5 Data_size:82183
File_name:aai.h5 Data_size:83557
File_name:aaj.h5 Data_size:82230
File_name:aak.h5 Data_size:85418
File_name:aal.h5 Data_size:82522
File_name:aam.h5 Data_size:83823
File_name:aan.h5 Data_size:87801
File_name:aao.h5 Data_size:95920
File_name:aap.h5 Data_size:94339
File_name:aaq.h5 Data_size:99581
File_name:aar.h5 Data_size:102642
File_name:aas.h5 Data_size:97270
File_name:aat.h5 Data_size:103248
File_name:aau.h5 Data_size:98856
File_name:aav.h5 Data_size:102890
File_name:aaw.h5 Data_size:103332
File_name:aax.h5 Data_size:101878
File_name:aay.h5 Data_size:96189
File_name:aaz.h5 Data_size:104929
File_name:aba.h5 Data_size:106160
File_name:abb.h5 Data_size:102601
File_name:abc.h5 Data_size:105152
File_name:abd.h5 Data_size:107046
File_name:abe.h5 Data_size:107833
File_name:abf.h5 Data_size:102655
File_name:abg.h5 Data_size:93925
File_name:abh.h5 Data_size:99246
File_name:abi.h5 Data_size:107046
File_name:abj.h5 Data_size:103881
File_name:abk.h5 Data_size:95572
File_name:abl.h5 Data_size:91695
File_name:abm.h5 Data_size:79367
File_name:abn.h5 Data_size:91245
File_name:abo.h5 Data_size:91408
File_name:abp.h5 Data_size:91425
File_name:abq.h5 Data_size:92774
File_name:abr.h5 Data_size:94294
File_name:abs.h5 Data_size:86552
File_name:abt.h5 Data_size:93318
File_name:abu.h5 Data_size:100401
File_name:abv.h5 Data_size:102003
File_name:abw.h5 Data_size:104359
File_name:abx.h5 Data_size:91372
File_name:aby.h5 Data_size:100843
File_name:abz.h5 Data_size:94048
File_name:aca.h5 Data_size:101501
File_name:acb.h5 Data_size:102876
File_name:acc.h5 Data_size:104931
File_name:acd.h5 Data_size:98453
File_name:ace.h5 Data_size:104027
File_name:acf.h5 Data_size:104679
File_name:acg.h5 Data_size:103455
File_name:ach.h5 Data_size:94576
File_name:aci.h5 Data_size:106318
File_name:acj.h5 Data_size:108771
File_name:ack.h5 Data_size:108413
File_name:acl.h5 Data_size:106832
File_name:acm.h5 Data_size:101869
File_name:acn.h5 Data_size:93862
File_name:aco.h5 Data_size:82092
File_name:acp.h5 Data_size:83438
File_name:acq.h5 Data_size:85812
File_name:acr.h5 Data_size:87420
File_name:acs.h5 Data_size:87030
File_name:act.h5 Data_size:88595
File_name:acu.h5 Data_size:99888
File_name:acv.h5 Data_size:88352
File_name:acw.h5 Data_size:95462
File_name:acx.h5 Data_size:103192
File_name:acy.h5 Data_size:101490
File_name:acz.h5 Data_size:102430
File_name:ada.h5 Data_size:87045
File_name:adb.h5 Data_size:87580
File_name:adc.h5 Data_size:84179
File_name:add.h5 Data_size:102575
File_name:ade.h5 Data_size:96818
File_name:adf.h5 Data_size:95570
File_name:adg.h5 Data_size:101915
File_name:adh.h5 Data_size:97878
File_name:adi.h5 Data_size:96995
File_name:adj.h5 Data_size:93828
File_name:adk.h5 Data_size:78678
File_name:adl.h5 Data_size:54251
Data_size:8400369

In [3]:
df2.reset_index()

        artist_id                 day      msno
0             1.0   Final_Week_People   30107.0
1             1.0   First_Week_People   26037.0
2             1.0   Forth_Week_People   47217.0
3             1.0  Second_Week_People   48594.0
4             1.0   Third_Week_People   46548.0
5             2.0   Final_Week_People   79248.0
6             2.0   First_Week_People   64954.0
7             2.0   Forth_Week_People  111384.0
8             2.0  Second_Week_People  113903.0
9             2.0   Third_Week_People  112094.0
10            7.0   Final_Week_People    3606.0
11            7.0   First_Week_People    1533.0
12            7.0   Forth_Week_People    2002.0
13            7.0  Second_Week_People    3106.0
14            7.0   Third_Week_People    2590.0
15            9.0   Final_Week_People    2709.0
16            9.0   First_Week_People    2161.0
17            9.0   Forth_Week_People    4621.0
18            9.0  Second_Week_People    4124.0
19            9.0   Third_Week_People    4960.0
20           10.0   Final_Week_People   49064.0
21           10.0   First_Week_People   42541.0
22           10.0   Forth_Week_People   69862.0
23           10.0  Second_Week_People   76957.0
24           10.0   Third_Week_People   71259.0
25           11.0   Final_Week_People   52048.0
26           11.0   First_Week_People   45645.0
27           11.0   Forth_Week_People   73043.0
28           11.0  Second_Week_People   78254.0
29           11.0   Third_Week_People   76605.0
...           ...                 ...       ...
457233  7515645.0  Second_Week_People       7.0
457234  7515645.0   Third_Week_People      17.0
457235  7515692.0   First_Week_People       5.0
457236  7515692.0   Forth_Week_People       6.0
457237  7515692.0  Second_Week_People       7.0
457238  7515692.0   Third_Week_People       9.0
457239  7517491.0   Forth_Week_People       1.0
457240  7517491.0   Third_Week_People       1.0
457241  7536513.0   Final_Week_People       9.0
457242  7536513.0   First_Week_People      23.0
457243  7536513.0  Second_Week_People      14.0
457244  7536513.0   Third_Week_People       4.0
457245  7549525.0   Forth_Week_People       1.0
457246  7618907.0   Third_Week_People       2.0
457247  7625914.0   Final_Week_People      18.0
457248  7625914.0   First_Week_People       7.0
457249  7625914.0   Forth_Week_People      38.0
457250  7625914.0  Second_Week_People      62.0
457251  7625914.0   Third_Week_People      44.0
457252  7626015.0   Final_Week_People      46.0
457253  7626015.0   First_Week_People      10.0
457254  7626015.0   Forth_Week_People      17.0
457255  7626015.0  Second_Week_People      65.0
457256  7626015.0   Third_Week_People      63.0
457257  7629529.0   Final_Week_People       3.0
457258  7629529.0   Forth_Week_People       5.0
457259  7629529.0   Third_Week_People       2.0
457260  7630111.0   Final_Week_People       1.0
457261  7630236.0   First_Week_People       3.0
457262  7630236.0   Third_Week_People       1.0

[457263 rows x 3 columns]

In [4]:
df3=df2.reset_index()
df3.rename(columns={'msno': 'number'}, inplace=True)
df3['artist_id']=df3['artist_id'].astype(str)
df3['artist_id']=df3['artist_id'].apply(lambda n:n[:n.index('.')])
df3['number']=df3['number'].astype(str)
df3['number']=df3['number'].apply(lambda n:n[:n.index('.')])
df3['number']=df3['number'].astype('int64')
df3

       artist_id                 day  number
0              1   Final_Week_People   30107
1              1   First_Week_People   26037
2              1   Forth_Week_People   47217
3              1  Second_Week_People   48594
4              1   Third_Week_People   46548
5              2   Final_Week_People   79248
6              2   First_Week_People   64954
7              2   Forth_Week_People  111384
8              2  Second_Week_People  113903
9              2   Third_Week_People  112094
10             7   Final_Week_People    3606
11             7   First_Week_People    1533
12             7   Forth_Week_People    2002
13             7  Second_Week_People    3106
14             7   Third_Week_People    2590
15             9   Final_Week_People    2709
16             9   First_Week_People    2161
17             9   Forth_Week_People    4621
18             9  Second_Week_People    4124
19             9   Third_Week_People    4960
20            10   Final_Week_People   49064
21            10   First_Week_People   42541
22            10   Forth_Week_People   69862
23            10  Second_Week_People   76957
24            10   Third_Week_People   71259
25            11   Final_Week_People   52048
26            11   First_Week_People   45645
27            11   Forth_Week_People   73043
28            11  Second_Week_People   78254
29            11   Third_Week_People   76605
...          ...                 ...     ...
457233   7515645  Second_Week_People       7
457234   7515645   Third_Week_People      17
457235   7515692   First_Week_People       5
457236   7515692   Forth_Week_People       6
457237   7515692  Second_Week_People       7
457238   7515692   Third_Week_People       9
457239   7517491   Forth_Week_People       1
457240   7517491   Third_Week_People       1
457241   7536513   Final_Week_People       9
457242   7536513   First_Week_People      23
457243   7536513  Second_Week_People      14
457244   7536513   Third_Week_People       4
457245   7549525   Forth_Week_People       1
457246   7618907   Third_Week_People       2
457247   7625914   Final_Week_People      18
457248   7625914   First_Week_People       7
457249   7625914   Forth_Week_People      38
457250   7625914  Second_Week_People      62
457251   7625914   Third_Week_People      44
457252   7626015   Final_Week_People      46
457253   7626015   First_Week_People      10
457254   7626015   Forth_Week_People      17
457255   7626015  Second_Week_People      65
457256   7626015   Third_Week_People      63
457257   7629529   Final_Week_People       3
457258   7629529   Forth_Week_People       5
457259   7629529   Third_Week_People       2
457260   7630111   Final_Week_People       1
457261   7630236   First_Week_People       3
457262   7630236   Third_Week_People       1

[457263 rows x 3 columns]

In [5]:
df3.dtypes

artist_id    object
day          object
number        int64
dtype: object

In [6]:
#df3.pivot_table(values='number',index='artist_id',columns='day',fill_value=0).reset_index().rename_axis(None, axis=1)

In [7]:
df4=df3.pivot(index='artist_id', columns='day', values='number').reset_index().rename_axis(None, axis=1)
df4=df4.fillna(0)
df4.head(10)

,artist_id,Final_Week_People,First_Week_People,Forth_Week_People,Second_Week_People,Third_Week_People
0,1,30107.0,26037.0,47217.0,48594.0,46548.0
1,10,49064.0,42541.0,69862.0,76957.0,71259.0
2,1000,6542.0,6720.0,10402.0,10831.0,10717.0
3,1000023,0.0,0.0,1.0,0.0,0.0
4,1000038,1.0,0.0,2.0,1.0,0.0
5,1000056,0.0,2.0,1.0,0.0,1.0
6,1000077,0.0,1.0,0.0,0.0,0.0
7,1000083,0.0,0.0,0.0,0.0,4.0
8,1000113,4.0,6.0,16.0,3.0,9.0
9,1000131,43.0,44.0,50.0,118.0,67.0

In [8]:
df4['Ttotal_week_people']=df4['First_Week_People']+df4['Second_Week_People']+df4['Third_Week_People']+df4['Forth_Week_People']
df4['Avg_week_people']=df4['Ttotal_week_people']/4
df4

,artist_id,Final_Week_People,First_Week_People,Forth_Week_People,Second_Week_People,Third_Week_People,Ttotal_week_people,Avg_week_people
0,1,30107.0,26037.0,47217.0,48594.0,46548.0,168396.0,42099.00
1,10,49064.0,42541.0,69862.0,76957.0,71259.0,260619.0,65154.75
2,1000,6542.0,6720.0,10402.0,10831.0,10717.0,38670.0,9667.50
3,1000023,0.0,0.0,1.0,0.0,0.0,1.0,0.25
4,1000038,1.0,0.0,2.0,1.0,0.0,3.0,0.75
5,1000056,0.0,2.0,1.0,0.0,1.0,4.0,1.00
6,1000077,0.0,1.0,0.0,0.0,0.0,1.0,0.25
7,1000083,0.0,0.0,0.0,0.0,4.0,4.0,1.00
8,1000113,4.0,6.0,16.0,3.0,9.0,34.0,8.50
9,1000131,43.0,44.0,50.0,118.0,67.0,279.0,69.75
10,1000143,1.0,0.0,0.0,0.0,0.0,0.0,0.00
11,1000152,16.0,22.0,25.0,29.0,48.0,124.0,31.00
12,1000167,2.0,0.0,0.0,1.0,1.0,2.0,0.50
13,1000179,0.0,1.0,0.0,0.0,0.0,1.0,0.25
14,1000191,0.0,0.0,0.0,2.0,1.0,3.0,0.75
15,1000218,1.0,0.0,1.0,0.0,1.0,2.0,0.50
16,1000224,0.0,0.0,0.0,1.0,1.0,2.0,0.50
17,1000245,0.0,0.0,0.0,0.0,1.0,1.0,0.25
18,1000260,0.0,0.0,2.0,0.0,0.0,2.0,0.50
19,1000269,0.0,0.0,0.0,0.0,1.0,1.0,0.25
20,1000290,0.0,0.0,5.0,0.0,0.0,5.0,1.25
21,1000296,0.0,0.0,0.0,1.0,0.0,1.0,0.25
22,1000311,0.0,1.0,5.0,4.0,3.0,13.0,3.25
23,1000317,44.0,303.0,49.0,62.0,42.0,456.0,114.00
24,1000320,0.0,0.0,0.0,1.0,0.0,1.0,0.25
25,1000347,0.0,1.0,0.0,0.0,0.0,1.0,0.25
26,1000350,0.0,1.0,0.0,0.0,0.0,1.0,0.25
27,1000356,0.0,0.0,0.0,0.0,1.0,1.0,0.25
28,1000383,3.0,2.0,8.0,8.0,9.0,27.0,6.75
29,1000398,0.0,0.0,1.0,5.0,4.0,10.0,2.50
...,...,...,...,...,...,...,...,...
164337,999615,1.0,1.0,3.0,0.0,2.0,6.0,1.50
164338,999633,5448.0,4833.0,8336.0,9056.0,10314.0,32539.0,8134.75
164339,999657,45.0,75.0,91.0,59.0,90.0,315.0,78.75
164340,999666,0.0,0.0,1.0,0.0,1.0,2.0,0.50
164341,999693,0.0,0.0,0.0,1.0,1.0,2.0,0.50
164342,999702,1.0,0.0,0.0,0.0,0.0,0.0,0.00
164343,999711,0.0,1.0,1.0,0.0,0.0,2.0,0.50
164344,999714,64.0,91.0,66.0,136.0,116.0,409.0,102.25
164345,999720,6.0,6.0,5.0,13.0,6.0,30.0,7.50
164346,999723,0.0,0.0,0.0,1.0,0.0,1.0,0.25
164347,999726,0.0,0.0,0.0,1.0,0.0,1.0,0.25
164348,999747,0.0,0.0,1.0,0.0,0.0,1.0,0.25
164349,999756,6.0,8.0,4.0,12.0,27.0,51.0,12.75
164350,999762,95.0,73.0,89.0,102.0,164.0,428.0,107.00
164351,999765,0.0,0.0,0.0,1.0,3.0,4.0,1.00
164352,999768,9.0,5.0,15.0,1.0,23.0,44.0,11.00
164353,999777,0.0,1.0,0.0,0.0,0.0,1.0,0.25
164354,999780,0.0,0.0,0.0,0.0,2.0,2.0,0.50
164355,999783,7.0,1.0,2.0,1.0,1.0,5.0,1.25
164356,999789,1.0,7.0,19.0,8.0,6.0,40.0,10.00
164357,999843,1.0,2.0,1.0,10.0,3.0,16.0,4.00
164358,999867,1.0,1.0,2.0,6.0,5.0,14.0,3.50
164359,999873,8.0,3.0,8.0,3.0,11.0,25.0,6.25
164360,999876,0.0,0.0,0.0,2.0,0.0,2.0,0.50
164361,999894,12.0,10.0,13.0,12.0,14.0,49.0,12.25
164362,999900,2.0,0.0,0.0,0.0,0.0,0.0,0.00
164363,999951,0.0,1.0,0.0,0.0,0.0,1.0,0.25
164364,999966,3.0,4.0,5.0,0.0,3.0,12.0,3.00
164365,999981,0.0,1.0,1.0,2.0,0.0,4.0,1.00
164366,999996,1.0,2.0,4.0,1.0,3.0,10.0,2.50

In [9]:
df3[df3['artist_id']=='1000131']

       artist_id                 day  number
168991   1000131   Final_Week_People      43
168992   1000131   First_Week_People      44
168993   1000131   Forth_Week_People      50
168994   1000131  Second_Week_People     118
168995   1000131   Third_Week_People      67

In [11]:
df4.to_hdf('week_people.h5','a')