In [1]:
import h5py as hp
import pandas as pd
import numpy as np
import time as tm

C:\ProgramData\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [2]:
df=pd.read_hdf('Week_Number.h5','a')
df.head(10)

,artist_id,Final_Week,First_Week,Forth_Week,Second_Week,Third_Week,Rank_First_Week,Rank_Second_Week,Rank_Third_Week,Rank_Forth_Week,Rank_Final_Week
0,1,30107,26037,47217,48594,46548,550,516,529,522,535
1,10,49064,42541,69862,76957,71259,387,380,399,402,387
2,1000,6542,6720,10402,10831,10717,1402,1485,1475,1517,1525
8,1000113,4,6,16,3,9,4299,5248,5222,5232,4505
9,1000131,43,44,50,118,67,4261,5133,5164,5198,4466
11,1000152,16,22,25,29,48,4283,5222,5183,5223,4493
23,1000317,44,303,49,62,42,4002,5189,5189,5199,4465
28,1000383,3,2,8,8,9,4303,5243,5222,5240,4506
30,1000419,31,12,31,5,7,4293,5246,5224,5217,4478
39,1000515,1545,1522,2652,2420,3491,2926,3221,2702,3109,3084

In [3]:
df['Avg_Rank']=df[['Rank_First_Week','Rank_Second_Week','Rank_Third_Week','Rank_Forth_Week']].mean(axis=1)
df.head(10)

,artist_id,Final_Week,First_Week,Forth_Week,Second_Week,Third_Week,Rank_First_Week,Rank_Second_Week,Rank_Third_Week,Rank_Forth_Week,Rank_Final_Week,Avg_Rank
0,1,30107,26037,47217,48594,46548,550,516,529,522,535,529.25
1,10,49064,42541,69862,76957,71259,387,380,399,402,387,392.00
2,1000,6542,6720,10402,10831,10717,1402,1485,1475,1517,1525,1469.75
8,1000113,4,6,16,3,9,4299,5248,5222,5232,4505,5000.25
9,1000131,43,44,50,118,67,4261,5133,5164,5198,4466,4939.00
11,1000152,16,22,25,29,48,4283,5222,5183,5223,4493,4977.75
23,1000317,44,303,49,62,42,4002,5189,5189,5199,4465,4894.75
28,1000383,3,2,8,8,9,4303,5243,5222,5240,4506,5002.00
30,1000419,31,12,31,5,7,4293,5246,5224,5217,4478,4995.00
39,1000515,1545,1522,2652,2420,3491,2926,3221,2702,3109,3084,2989.50

In [4]:
df['Avg_First_Week']=df['First_Week']/4
df['Avg_Second_Week']=df['Second_Week']/7
df['Avg_Third_Week']=df['Third_Week']/7
df['Avg_Forth_Week']=df['Forth_Week']/7
df['Avg_Final_Week']=df['Final_Week']/5
df.head()

,artist_id,Final_Week,First_Week,Forth_Week,Second_Week,Third_Week,Rank_First_Week,Rank_Second_Week,Rank_Third_Week,Rank_Forth_Week,Rank_Final_Week,Avg_Rank,Avg_First_Week,Avg_Second_Week,Avg_Third_Week,Avg_Forth_Week,Avg_Final_Week
0,1,30107,26037,47217,48594,46548,550,516,529,522,535,529.25,6509.25,6942.000000,6649.714286,6745.285714,6021.4
1,10,49064,42541,69862,76957,71259,387,380,399,402,387,392.00,10635.25,10993.857143,10179.857143,9980.285714,9812.8
2,1000,6542,6720,10402,10831,10717,1402,1485,1475,1517,1525,1469.75,1680.00,1547.285714,1531.000000,1486.000000,1308.4
8,1000113,4,6,16,3,9,4299,5248,5222,5232,4505,5000.25,1.50,0.428571,1.285714,2.285714,0.8
9,1000131,43,44,50,118,67,4261,5133,5164,5198,4466,4939.00,11.00,16.857143,9.571429,7.142857,8.6

In [5]:
df['Total_Number']=df[['First_Week','Second_Week','Third_Week','Forth_Week']].sum(axis=1)
df.head(10)

,artist_id,Final_Week,First_Week,Forth_Week,Second_Week,Third_Week,Rank_First_Week,Rank_Second_Week,Rank_Third_Week,Rank_Forth_Week,Rank_Final_Week,Avg_Rank,Avg_First_Week,Avg_Second_Week,Avg_Third_Week,Avg_Forth_Week,Avg_Final_Week,Total_Number
0,1,30107,26037,47217,48594,46548,550,516,529,522,535,529.25,6509.25,6942.000000,6649.714286,6745.285714,6021.4,168396
1,10,49064,42541,69862,76957,71259,387,380,399,402,387,392.00,10635.25,10993.857143,10179.857143,9980.285714,9812.8,260619
2,1000,6542,6720,10402,10831,10717,1402,1485,1475,1517,1525,1469.75,1680.00,1547.285714,1531.000000,1486.000000,1308.4,38670
8,1000113,4,6,16,3,9,4299,5248,5222,5232,4505,5000.25,1.50,0.428571,1.285714,2.285714,0.8,34
9,1000131,43,44,50,118,67,4261,5133,5164,5198,4466,4939.00,11.00,16.857143,9.571429,7.142857,8.6,279
11,1000152,16,22,25,29,48,4283,5222,5183,5223,4493,4977.75,5.50,4.142857,6.857143,3.571429,3.2,124
23,1000317,44,303,49,62,42,4002,5189,5189,5199,4465,4894.75,75.75,8.857143,6.000000,7.000000,8.8,456
28,1000383,3,2,8,8,9,4303,5243,5222,5240,4506,5002.00,0.50,1.142857,1.285714,1.142857,0.6,27
30,1000419,31,12,31,5,7,4293,5246,5224,5217,4478,4995.00,3.00,0.714286,1.000000,4.428571,6.2,55
39,1000515,1545,1522,2652,2420,3491,2926,3221,2702,3109,3084,2989.50,380.50,345.714286,498.714286,378.857143,309.0,10085

In [6]:
df['Rank_number']=df['Total_Number'].rank(ascending=False,method='dense')
df['Rank_number']=df['Rank_number'].astype(str)
df['Rank_number']=df['Rank_number'].apply(lambda n:n[:n.index('.')])
df['Rank_number']=df['Rank_number'].astype('int64')
df.head(10)

,artist_id,Final_Week,First_Week,Forth_Week,Second_Week,Third_Week,Rank_First_Week,Rank_Second_Week,Rank_Third_Week,Rank_Forth_Week,Rank_Final_Week,Avg_Rank,Avg_First_Week,Avg_Second_Week,Avg_Third_Week,Avg_Forth_Week,Avg_Final_Week,Total_Number,Rank_number
0,1,30107,26037,47217,48594,46548,550,516,529,522,535,529.25,6509.25,6942.000000,6649.714286,6745.285714,6021.4,168396,527
1,10,49064,42541,69862,76957,71259,387,380,399,402,387,392.00,10635.25,10993.857143,10179.857143,9980.285714,9812.8,260619,394
2,1000,6542,6720,10402,10831,10717,1402,1485,1475,1517,1525,1469.75,1680.00,1547.285714,1531.000000,1486.000000,1308.4,38670,1510
8,1000113,4,6,16,3,9,4299,5248,5222,5232,4505,5000.25,1.50,0.428571,1.285714,2.285714,0.8,34,8163
9,1000131,43,44,50,118,67,4261,5133,5164,5198,4466,4939.00,11.00,16.857143,9.571429,7.142857,8.6,279,7918
11,1000152,16,22,25,29,48,4283,5222,5183,5223,4493,4977.75,5.50,4.142857,6.857143,3.571429,3.2,124,8073
23,1000317,44,303,49,62,42,4002,5189,5189,5199,4465,4894.75,75.75,8.857143,6.000000,7.000000,8.8,456,7741
28,1000383,3,2,8,8,9,4303,5243,5222,5240,4506,5002.00,0.50,1.142857,1.285714,1.142857,0.6,27,8170
30,1000419,31,12,31,5,7,4293,5246,5224,5217,4478,4995.00,3.00,0.714286,1.000000,4.428571,6.2,55,8142
39,1000515,1545,1522,2652,2420,3491,2926,3221,2702,3109,3084,2989.50,380.50,345.714286,498.714286,378.857143,309.0,10085,3191

In [7]:
df['Avg_Number']=df.Total_Number/4
df.head(10)

,artist_id,Final_Week,First_Week,Forth_Week,Second_Week,Third_Week,Rank_First_Week,Rank_Second_Week,Rank_Third_Week,Rank_Forth_Week,...,Avg_Rank,Avg_First_Week,Avg_Second_Week,Avg_Third_Week,Avg_Forth_Week,Avg_Final_Week,Total_Number,Rank_number,Avg_Number,Avg_Number_Rank
0,1,30107,26037,47217,48594,46548,550,516,529,522,...,529.25,6509.25,6942.000000,6649.714286,6745.285714,6021.4,168396,527,42099.00,527
1,10,49064,42541,69862,76957,71259,387,380,399,402,...,392.00,10635.25,10993.857143,10179.857143,9980.285714,9812.8,260619,394,65154.75,394
2,1000,6542,6720,10402,10831,10717,1402,1485,1475,1517,...,1469.75,1680.00,1547.285714,1531.000000,1486.000000,1308.4,38670,1510,9667.50,1510
8,1000113,4,6,16,3,9,4299,5248,5222,5232,...,5000.25,1.50,0.428571,1.285714,2.285714,0.8,34,8163,8.50,8163
9,1000131,43,44,50,118,67,4261,5133,5164,5198,...,4939.00,11.00,16.857143,9.571429,7.142857,8.6,279,7918,69.75,7918
11,1000152,16,22,25,29,48,4283,5222,5183,5223,...,4977.75,5.50,4.142857,6.857143,3.571429,3.2,124,8073,31.00,8073
23,1000317,44,303,49,62,42,4002,5189,5189,5199,...,4894.75,75.75,8.857143,6.000000,7.000000,8.8,456,7741,114.00,7741
28,1000383,3,2,8,8,9,4303,5243,5222,5240,...,5002.00,0.50,1.142857,1.285714,1.142857,0.6,27,8170,6.75,8170
30,1000419,31,12,31,5,7,4293,5246,5224,5217,...,4995.00,3.00,0.714286,1.000000,4.428571,6.2,55,8142,13.75,8142
39,1000515,1545,1522,2652,2420,3491,2926,3221,2702,3109,...,2989.50,380.50,345.714286,498.714286,378.857143,309.0,10085,3191,2521.25,3191

In [8]:
df['Max_Rank']=df[['Rank_First_Week','Rank_Second_Week','Rank_Third_Week','Rank_Forth_Week']].max(axis=1)
df['Min_Rank']=df[['Rank_First_Week','Rank_Second_Week','Rank_Third_Week','Rank_Forth_Week']].min(axis=1)
df.head(10)

,artist_id,Final_Week,First_Week,Forth_Week,Second_Week,Third_Week,Rank_First_Week,Rank_Second_Week,Rank_Third_Week,Rank_Forth_Week,...,Avg_Second_Week,Avg_Third_Week,Avg_Forth_Week,Avg_Final_Week,Total_Number,Rank_number,Avg_Number,Avg_Number_Rank,Max_Rank,Min_Rank
0,1,30107,26037,47217,48594,46548,550,516,529,522,...,6942.000000,6649.714286,6745.285714,6021.4,168396,527,42099.00,527,550,516
1,10,49064,42541,69862,76957,71259,387,380,399,402,...,10993.857143,10179.857143,9980.285714,9812.8,260619,394,65154.75,394,402,380
2,1000,6542,6720,10402,10831,10717,1402,1485,1475,1517,...,1547.285714,1531.000000,1486.000000,1308.4,38670,1510,9667.50,1510,1517,1402
8,1000113,4,6,16,3,9,4299,5248,5222,5232,...,0.428571,1.285714,2.285714,0.8,34,8163,8.50,8163,5248,4299
9,1000131,43,44,50,118,67,4261,5133,5164,5198,...,16.857143,9.571429,7.142857,8.6,279,7918,69.75,7918,5198,4261
11,1000152,16,22,25,29,48,4283,5222,5183,5223,...,4.142857,6.857143,3.571429,3.2,124,8073,31.00,8073,5223,4283
23,1000317,44,303,49,62,42,4002,5189,5189,5199,...,8.857143,6.000000,7.000000,8.8,456,7741,114.00,7741,5199,4002
28,1000383,3,2,8,8,9,4303,5243,5222,5240,...,1.142857,1.285714,1.142857,0.6,27,8170,6.75,8170,5243,4303
30,1000419,31,12,31,5,7,4293,5246,5224,5217,...,0.714286,1.000000,4.428571,6.2,55,8142,13.75,8142,5246,4293
39,1000515,1545,1522,2652,2420,3491,2926,3221,2702,3109,...,345.714286,498.714286,378.857143,309.0,10085,3191,2521.25,3191,3221,2702

In [9]:
df['Avg_mid_Rank']=df[['Max_Rank','Min_Rank']].mean(axis=1)
df.head(10)

,artist_id,Final_Week,First_Week,Forth_Week,Second_Week,Third_Week,Rank_First_Week,Rank_Second_Week,Rank_Third_Week,Rank_Forth_Week,...,Avg_Third_Week,Avg_Forth_Week,Avg_Final_Week,Total_Number,Rank_number,Avg_Number,Avg_Number_Rank,Max_Rank,Min_Rank,Avg_mid_Rank
0,1,30107,26037,47217,48594,46548,550,516,529,522,...,6649.714286,6745.285714,6021.4,168396,527,42099.00,527,550,516,533.0
1,10,49064,42541,69862,76957,71259,387,380,399,402,...,10179.857143,9980.285714,9812.8,260619,394,65154.75,394,402,380,391.0
2,1000,6542,6720,10402,10831,10717,1402,1485,1475,1517,...,1531.000000,1486.000000,1308.4,38670,1510,9667.50,1510,1517,1402,1459.5
8,1000113,4,6,16,3,9,4299,5248,5222,5232,...,1.285714,2.285714,0.8,34,8163,8.50,8163,5248,4299,4773.5
9,1000131,43,44,50,118,67,4261,5133,5164,5198,...,9.571429,7.142857,8.6,279,7918,69.75,7918,5198,4261,4729.5
11,1000152,16,22,25,29,48,4283,5222,5183,5223,...,6.857143,3.571429,3.2,124,8073,31.00,8073,5223,4283,4753.0
23,1000317,44,303,49,62,42,4002,5189,5189,5199,...,6.000000,7.000000,8.8,456,7741,114.00,7741,5199,4002,4600.5
28,1000383,3,2,8,8,9,4303,5243,5222,5240,...,1.285714,1.142857,0.6,27,8170,6.75,8170,5243,4303,4773.0
30,1000419,31,12,31,5,7,4293,5246,5224,5217,...,1.000000,4.428571,6.2,55,8142,13.75,8142,5246,4293,4769.5
39,1000515,1545,1522,2652,2420,3491,2926,3221,2702,3109,...,498.714286,378.857143,309.0,10085,3191,2521.25,3191,3221,2702,2961.5

In [10]:
df['std']=df[[ 'Rank_First_Week', 'Rank_Second_Week', 'Rank_Third_Week','Rank_Forth_Week']].std(axis=1,ddof=1)
df['median']=df[[ 'Rank_First_Week', 'Rank_Second_Week', 'Rank_Third_Week','Rank_Forth_Week']].median(axis=1)
df['mad']=df[[ 'Rank_First_Week', 'Rank_Second_Week', 'Rank_Third_Week','Rank_Forth_Week']].mad(axis=1)
df['var']=df[[ 'Rank_First_Week', 'Rank_Second_Week', 'Rank_Third_Week','Rank_Forth_Week']].var(axis=1,ddof=1)
df.head(10)

,artist_id,Final_Week,First_Week,Forth_Week,Second_Week,Third_Week,Rank_First_Week,Rank_Second_Week,Rank_Third_Week,Rank_Forth_Week,...,Rank_number,Avg_Number,Avg_Number_Rank,Max_Rank,Min_Rank,Avg_mid_Rank,std,median,mad,var
0,1,30107,26037,47217,48594,46548,550,516,529,522,...,527,42099.00,527,550,516,533.0,14.818344,525.5,10.375,219.583333
1,10,49064,42541,69862,76957,71259,387,380,399,402,...,394,65154.75,394,402,380,391.0,10.295630,393.0,8.500,106.000000
2,1000,6542,6720,10402,10831,10717,1402,1485,1475,1517,...,1510,9667.50,1510,1517,1402,1459.5,48.589265,1480.0,33.875,2360.916667
8,1000113,4,6,16,3,9,4299,5248,5222,5232,...,8163,8.50,8163,5248,4299,4773.5,467.622622,5227.0,350.625,218670.916667
9,1000131,43,44,50,118,67,4261,5133,5164,5198,...,7918,69.75,7918,5198,4261,4729.5,452.778828,5148.5,339.000,205008.666667
11,1000152,16,22,25,29,48,4283,5222,5183,5223,...,8073,31.00,8073,5223,4283,4753.0,463.540991,5202.5,347.375,214870.250000
23,1000317,44,303,49,62,42,4002,5189,5189,5199,...,7741,114.00,7741,5199,4002,4600.5,595.185335,5189.0,446.375,354245.583333
28,1000383,3,2,8,8,9,4303,5243,5222,5240,...,8170,6.75,8170,5243,4303,4773.0,466.092266,5231.0,349.500,217242.000000
30,1000419,31,12,31,5,7,4293,5246,5224,5217,...,8142,13.75,8142,5246,4293,4769.5,468.163077,5220.5,351.000,219176.666667
39,1000515,1545,1522,2652,2420,3491,2926,3221,2702,3109,...,3191,2521.25,3191,3221,2702,2961.5,226.980910,3017.5,175.500,51520.333333

In [11]:
df['First_Rank_Gap']=df['Rank_First_Week'].apply(lambda n:1 if n<=100 else 2 if n<=1000 else 3)
df['Second_Rank_Gap']=df['Rank_Second_Week'].apply(lambda n:1 if n<=100 else 2 if n<=1000 else 3)
df['Third_Rank_Gap']=df['Rank_Third_Week'].apply(lambda n:1 if n<=100 else 2 if n<=1000 else 3)
df['Forth_Rank_Gap']=df['Rank_Forth_Week'].apply(lambda n:1 if n<=100 else 2 if n<=1000 else 3)
df['Final_Rank_Gap']=df['Rank_Final_Week'].apply(lambda n:1 if n<=100 else 2 if n<=1000 else 3)
df.head()

,artist_id,Final_Week,First_Week,Forth_Week,Second_Week,Third_Week,Rank_First_Week,Rank_Second_Week,Rank_Third_Week,Rank_Forth_Week,...,Avg_mid_Rank,std,median,mad,var,First_Rank_Gap,Second_Rank_Gap,Third_Rank_Gap,Forth_Rank_Gap,Final_Rank_Gap
0,1,30107,26037,47217,48594,46548,550,516,529,522,...,533.0,14.818344,525.5,10.375,219.583333,2,2,2,2,2
1,10,49064,42541,69862,76957,71259,387,380,399,402,...,391.0,10.295630,393.0,8.500,106.000000,2,2,2,2,2
2,1000,6542,6720,10402,10831,10717,1402,1485,1475,1517,...,1459.5,48.589265,1480.0,33.875,2360.916667,3,3,3,3,3
8,1000113,4,6,16,3,9,4299,5248,5222,5232,...,4773.5,467.622622,5227.0,350.625,218670.916667,3,3,3,3,3
9,1000131,43,44,50,118,67,4261,5133,5164,5198,...,4729.5,452.778828,5148.5,339.000,205008.666667,3,3,3,3,3

In [45]:
df['First']=abs(df['First_Week']-df['Second_Week'])
df['Second']=abs(df['Second_Week']-df['Third_Week'])
df['Third']=abs(df['Third_Week']-df['Forth_Week'])
df.head()

,artist_id,Final_Week,First_Week,Forth_Week,Second_Week,Third_Week,Rank_First_Week,Rank_Second_Week,Rank_Third_Week,Rank_Forth_Week,...,mad,var,First_Rank_Gap,Second_Rank_Gap,Third_Rank_Gap,Forth_Rank_Gap,Final_Rank_Gap,First,Second,Third
0,1,30107,26037,47217,48594,46548,550,516,529,522,...,10.375,219.583333,2,2,2,2,2,22557,2046,669
1,10,49064,42541,69862,76957,71259,387,380,399,402,...,8.500,106.000000,2,2,2,2,2,34416,5698,1397
2,1000,6542,6720,10402,10831,10717,1402,1485,1475,1517,...,33.875,2360.916667,3,3,3,3,3,4111,114,315
8,1000113,4,6,16,3,9,4299,5248,5222,5232,...,350.625,218670.916667,3,3,3,3,3,3,6,7
9,1000131,43,44,50,118,67,4261,5133,5164,5198,...,339.000,205008.666667,3,3,3,3,3,74,51,17

In [48]:
df.columns

Index(['artist_id', 'Final_Week', 'First_Week', 'Forth_Week', 'Second_Week',
       'Third_Week', 'Rank_First_Week', 'Rank_Second_Week', 'Rank_Third_Week',
       'Rank_Forth_Week', 'Rank_Final_Week', 'Avg_Rank', 'Avg_First_Week',
       'Avg_Second_Week', 'Avg_Third_Week', 'Avg_Forth_Week', 'Avg_Final_Week',
       'Total_Number', 'Rank_number', 'Avg_Number', 'Avg_Number_Rank',
       'Max_Rank', 'Min_Rank', 'Avg_mid_Rank', 'std', 'median', 'mad', 'var',
       'First_Rank_Gap', 'Second_Rank_Gap', 'Third_Rank_Gap', 'Forth_Rank_Gap',
       'Final_Rank_Gap', 'First', 'Second', 'Third'],
      dtype='object')

In [49]:

from sklearn.ensemble import ExtraTreesClassifier
from sklearn.feature_selection import SelectFromModel

In [50]:

clf = ExtraTreesClassifier()
clf = clf.fit(df.loc[:,['First_Week', 'Forth_Week', 'Second_Week',
       'Third_Week', 'Rank_First_Week', 'Rank_Second_Week', 'Rank_Third_Week',
       'Rank_Forth_Week', 'Avg_Rank', 'Total_Number',
       'Rank_number', 'Avg_Number', 'Avg_Number_Rank', 'Max_Rank', 'Min_Rank',
       'Avg_mid_Rank', 'std', 'median', 'mad', 'var','Avg_First_Week',
       'Avg_Second_Week', 'Avg_Third_Week', 'Avg_Forth_Week','First', 'Second', 'Third']], df.loc[:,['Rank_Final_Week']])
clf.feature_importances_

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

array([0.03268213, 0.03663806, 0.03532064, 0.03823159, 0.03221139,
       0.0363132 , 0.03873848, 0.03664897, 0.03719952, 0.03635088,
       0.0368035 , 0.03594855, 0.03723276, 0.03728184, 0.03242733,
       0.03772806, 0.04040329, 0.04046554, 0.03691309, 0.03951664,
       0.03264654, 0.03675945, 0.03813317, 0.03749271, 0.03851527,
       0.04054478, 0.04085263])

In [51]:

model = SelectFromModel(clf, prefit=True)
X_new = model.transform(df.loc[:,['First_Week', 'Forth_Week', 'Second_Week',
       'Third_Week', 'Rank_First_Week', 'Rank_Second_Week', 'Rank_Third_Week',
       'Rank_Forth_Week', 'Avg_Rank', 'Total_Number',
       'Rank_number', 'Avg_Number', 'Avg_Number_Rank', 'Max_Rank', 'Min_Rank',
       'Avg_mid_Rank', 'std', 'median', 'mad', 'var','Avg_First_Week',
       'Avg_Second_Week', 'Avg_Third_Week', 'Avg_Forth_Week','First', 'Second', 'Third']])
X_new.shape

(49090, 14)

In [52]:
X_new

array([[4.65480e+04, 5.29000e+02, 5.29250e+02, ..., 2.25570e+04,
        2.04600e+03, 6.69000e+02],
       [7.12590e+04, 3.99000e+02, 3.92000e+02, ..., 3.44160e+04,
        5.69800e+03, 1.39700e+03],
       [1.07170e+04, 1.47500e+03, 1.46975e+03, ..., 4.11100e+03,
        1.14000e+02, 3.15000e+02],
       ...,
       [1.10000e+01, 5.22000e+03, 5.00250e+03, ..., 0.00000e+00,
        8.00000e+00, 3.00000e+00],
       [1.40000e+01, 5.21700e+03, 4.99650e+03, ..., 2.00000e+00,
        2.00000e+00, 1.00000e+00],
       [3.00000e+00, 5.22800e+03, 5.00625e+03, ..., 1.00000e+00,
        2.00000e+00, 1.00000e+00]])

In [53]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression
from sklearn.feature_selection import RFE
clf = RandomForestRegressor(n_estimators=50, max_depth=14)
selector = RFE(clf, 1, step=1)
selector = selector.fit(df.loc[:,['First_Week', 'Forth_Week', 'Second_Week',
       'Third_Week', 'Rank_First_Week', 'Rank_Second_Week', 'Rank_Third_Week',
       'Rank_Forth_Week', 'Avg_Rank', 'Total_Number',
       'Rank_number', 'Avg_Number', 'Avg_Number_Rank', 'Max_Rank', 'Min_Rank',
       'Avg_mid_Rank', 'std', 'median', 'mad', 'var','Avg_First_Week',
       'Avg_Second_Week', 'Avg_Third_Week', 'Avg_Forth_Week','First', 'Second', 'Third']],df.loc[:,['Rank_Final_Week']])
print (selector.ranking_)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[26  8 27 25 21 19 22  4 11  1  5  7  2  9 20  3 23 10 12 18 14 24 13  6
 16 17 15]

In [ ]:
df.corr()

In [ ]:
df.corr('pearson')

In [ ]:
df.corr('kendall')

In [54]:
df.corr('spearman')

,Final_Week,First_Week,Forth_Week,Second_Week,Third_Week,Rank_First_Week,Rank_Second_Week,Rank_Third_Week,Rank_Forth_Week,Rank_Final_Week,...,mad,var,First_Rank_Gap,Second_Rank_Gap,Third_Rank_Gap,Forth_Rank_Gap,Final_Rank_Gap,First,Second,Third
Final_Week,1.000000,0.852208,0.902986,0.876704,0.887126,-0.852208,-0.876704,-0.887126,-0.902986,-1.000000,...,-0.657600,-0.657918,-0.245870,-0.245586,-0.245382,-0.245500,-0.245523,0.795696,0.718606,0.734470
First_Week,0.852208,1.000000,0.868654,0.898949,0.879450,-1.000000,-0.898949,-0.879450,-0.868654,-0.852208,...,-0.509702,-0.505405,-0.246600,-0.245568,-0.244650,-0.243018,-0.242069,0.801574,0.714595,0.700951
Forth_Week,0.902986,0.868654,1.000000,0.895442,0.914354,-0.868654,-0.895442,-0.914354,-1.000000,-0.902986,...,-0.709623,-0.710943,-0.245891,-0.245654,-0.245568,-0.245682,-0.245012,0.813187,0.740619,0.791217
Second_Week,0.876704,0.898949,0.895442,1.000000,0.913339,-0.898949,-1.000000,-0.913339,-0.895442,-0.876704,...,-0.684697,-0.684364,-0.246397,-0.246151,-0.245348,-0.243675,-0.242779,0.911363,0.790064,0.731752
Third_Week,0.887126,0.879450,0.914354,0.913339,1.000000,-0.879450,-0.913339,-1.000000,-0.914354,-0.887126,...,-0.708414,-0.706291,-0.246171,-0.245955,-0.245797,-0.245038,-0.244240,0.829526,0.789154,0.793271
Rank_First_Week,-0.852208,-1.000000,-0.868654,-0.898949,-0.879450,1.000000,0.898949,0.879450,0.868654,0.852208,...,0.509702,0.505405,0.246600,0.245568,0.244650,0.243018,0.242069,-0.801574,-0.714595,-0.700951
Rank_Second_Week,-0.876704,-0.898949,-0.895442,-1.000000,-0.913339,0.898949,1.000000,0.913339,0.895442,0.876704,...,0.684697,0.684364,0.246397,0.246151,0.245348,0.243675,0.242779,-0.911363,-0.790064,-0.731752
Rank_Third_Week,-0.887126,-0.879450,-0.914354,-0.913339,-1.000000,0.879450,0.913339,1.000000,0.914354,0.887126,...,0.708414,0.706291,0.246171,0.245955,0.245797,0.245038,0.244240,-0.829526,-0.789154,-0.793271
Rank_Forth_Week,-0.902986,-0.868654,-1.000000,-0.895442,-0.914354,0.868654,0.895442,0.914354,1.000000,0.902986,...,0.709623,0.710943,0.245891,0.245654,0.245568,0.245682,0.245012,-0.813187,-0.740619,-0.791217
Rank_Final_Week,-1.000000,-0.852208,-0.902986,-0.876704,-0.887126,0.852208,0.876704,0.887126,0.902986,1.000000,...,0.657600,0.657918,0.245870,0.245586,0.245382,0.245500,0.245523,-0.795696,-0.718606,-0.734470
Avg_Rank,-0.910470,-0.927283,-0.959283,-0.958981,-0.963081,0.927283,0.958981,0.963081,0.959283,0.910470,...,0.687186,0.685917,0.246348,0.246026,0.245629,0.245131,0.244449,-0.880503,-0.811681,-0.810189
Avg_First_Week,0.852208,1.000000,0.868654,0.898949,0.879450,-1.000000,-0.898949,-0.879450,-0.868654,-0.852208,...,-0.509702,-0.505405,-0.246600,-0.245568,-0.244650,-0.243018,-0.242069,0.801574,0.714595,0.700951
Avg_Second_Week,0.876704,0.898949,0.895442,1.000000,0.913339,-0.898949,-1.000000,-0.913339,-0.895442,-0.876704,...,-0.684697,-0.684364,-0.246397,-0.246151,-0.245348,-0.243675,-0.242779,0.911363,0.790064,0.731752
Avg_Third_Week,0.887126,0.879450,0.914354,0.913339,1.000000,-0.879450,-0.913339,-1.000000,-0.914354,-0.887126,...,-0.708414,-0.706291,-0.246171,-0.245955,-0.245797,-0.245038,-0.244240,0.829526,0.789154,0.793271
Avg_Forth_Week,0.902986,0.868654,1.000000,0.895442,0.914354,-0.868654,-0.895442,-0.914354,-1.000000,-0.902986,...,-0.709623,-0.710943,-0.245891,-0.245654,-0.245568,-0.245682,-0.245012,0.813187,0.740619,0.791217
Avg_Final_Week,1.000000,0.852208,0.902986,0.876704,0.887126,-0.852208,-0.876704,-0.887126,-0.902986,-1.000000,...,-0.657600,-0.657918,-0.245870,-0.245586,-0.245382,-0.245500,-0.245523,0.795696,0.718606,0.734470
Total_Number,0.910460,0.927080,0.959299,0.958833,0.963007,-0.927080,-0.958833,-0.963007,-0.959299,-0.910460,...,-0.686169,-0.684906,-0.246304,-0.246033,-0.245715,-0.245444,-0.244747,0.880364,0.811719,0.810338
Rank_number,-0.910460,-0.927080,-0.959299,-0.958833,-0.963007,0.927080,0.958833,0.963007,0.959299,0.910460,...,0.686169,0.684906,0.246304,0.246033,0.245715,0.245444,0.244747,-0.880364,-0.811719,-0.810338
Avg_Number,0.910460,0.927080,0.959299,0.958833,0.963007,-0.927080,-0.958833,-0.963007,-0.959299,-0.910460,...,-0.686169,-0.684906,-0.246304,-0.246033,-0.245715,-0.245444,-0.244747,0.880364,0.811719,0.810338
Avg_Number_Rank,-0.910460,-0.927080,-0.959299,-0.958833,-0.963007,0.927080,0.958833,0.963007,0.959299,0.910460,...,0.686169,0.684906,0.246304,0.246033,0.245715,0.245444,0.244747,-0.880364,-0.811719,-0.810338
Max_Rank,-0.897645,-0.905439,-0.941354,-0.976136,-0.929104,0.905439,0.976136,0.929104,0.941354,0.897645,...,0.698508,0.699688,0.246227,0.245815,0.245193,0.243862,0.243093,-0.875857,-0.751933,-0.735143
Min_Rank,-0.856242,-0.995561,-0.873635,-0.898434,-0.882248,0.995561,0.898434,0.882248,0.873635,0.856242,...,0.497445,0.493486,0.246329,0.246049,0.245727,0.245585,0.244552,-0.802033,-0.719540,-0.708147
Avg_mid_Rank,-0.894685,-0.967359,-0.928553,-0.959944,-0.925763,0.967359,0.959944,0.925763,0.928553,0.894685,...,0.606536,0.605147,0.246336,0.245989,0.245579,0.245190,0.244331,-0.872993,-0.758100,-0.742142
std,-0.657918,-0.505405,-0.710943,-0.684364,-0.706291,0.505405,0.684364,0.706291,0.710943,0.657918,...,0.986897,1.000000,0.235308,0.232193,0.229942,0.222652,0.223516,-0.676896,-0.577980,-0.593526
median,-0.906958,-0.891315,-0.960452,-0.948066,-0.968733,0.891315,0.948066,0.968733,0.960452,0.906958,...,0.724997,0.723612,0.246339,0.246044,0.245660,0.245009,0.244301,-0.869656,-0.821882,-0.828480
mad,-0.657600,-0.509702,-0.709623,-0.684697,-0.708414,0.509702,0.684697,0.708414,0.709623,0.657600,...,1.000000,0.986897,0.234871,0.231912,0.229889,0.222604,0.223440,-0.675754,-0.581463,-0.596972
var,-0.657918,-0.505405,-0.710943,-0.684364,-0.706291,0.505405,0.684364,0.706291,0.710943,0.657918,...,0.986897,1.000000,0.235308,0.232193,0.229942,0.222652,0.223516,-0.676896,-0.577980,-0.593526
First_Rank_Gap,-0.245870,-0.246600,-0.245891,-0.246397,-0.246171,0.246600,0.246397,0.246171,0.245891,0.245870,...,0.234871,0.235308,1.000000,0.956354,0.923616,0.896940,0.898834,-0.245821,-0.237581,-0.236472
Second_Rank_Gap,-0.245586,-0.245568,-0.245654,-0.246151,-0.245955,0.245568,0.246151,0.245955,0.245654,0.245586,...,0.231912,0.232193,0.956354,1.000000,0.945158,0.907378,0.905253,-0.245932,-0.238254,-0.236293
Third_Rank_Gap,-0.245382,-0.244650,-0.245568,-0.245348,-0.245797,0.244650,0.245348,0.245797,0.245568,0.245382,...,0.229889,0.229942,0.923616,0.945158,1.000000,0.944043,0.922774,-0.245193,-0.237790,-0.236898
Forth_Rank_Gap,-0.245500,-0.243018,-0.245682,-0.243675,-0.245038,0.243018,0.243675,0.245038,0.245682,0.245500,...,0.222604,0.222652,0.896940,0.907378,0.944043,1.000000,0.946484,-0.243441,-0.236291,-0.236768
Final_Rank_Gap,-0.245523,-0.242069,-0.245012,-0.242779,-0.244240,0.242069,0.242779,0.244240,0.245012,0.245523,...,0.223440,0.223516,0.898834,0.905253,0.922774,0.946484,1.000000,-0.242352,-0.234605,-0.235248
First,0.795696,0.801574,0.813187,0.911363,0.829526,-0.801574,-0.911363,-0.829526,-0.813187,-0.795696,...,-0.675754,-0.676896,-0.245821,-0.245932,-0.245193,-0.243441,-0.242352,1.000000,0.753184,0.682566
Second,0.718606,0.714595,0.740619,0.790064,0.789154,-0.714595,-0.790064,-0.789154,-0.740619,-0.718606,...,-0.581463,-0.577980,-0.237581,-0.238254,-0.237790,-0.236291,-0.234605,0.753184,1.000000,0.698203
Third,0.734470,0.700951,0.791217,0.731752,0.793271,-0.700951,-0.731752,-0.793271,-0.791217,-0.734470,...,-0.596972,-0.593526,-0.236472,-0.236293,-0.236898,-0.236768,-0.235248,0.682566,0.698203,1.000000

In [ ]:
df.cov()

In [13]:
import pandas as pd
from sklearn import tree

from sklearn.cross_validation import train_test_split
from sklearn import metrics

from pandas.tools.plotting import scatter_matrix
import matplotlib.pyplot as plt
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [65]:

X = df.loc[:,['Rank_First_Week', 'Rank_Second_Week', 'Rank_Third_Week',
       'Rank_Forth_Week',
       'Rank_number',  'Avg_Number_Rank', 'Max_Rank', 'Min_Rank']].values
'''
X = df.loc[:,[ 'First_Week', 'Forth_Week', 'Second_Week',
       'Third_Week', 'Rank_First_Week', 'Rank_Second_Week', 'Rank_Third_Week',
       'Rank_Forth_Week', 'Total_Number',
       'Rank_number', 'Avg_Number', 'Avg_Number_Rank', 'Max_Rank', 'Min_Rank']].values
'''
Y = df.loc[:,'Rank_Final_Week'].astype(str).values
validation_size = 0.20
seed = 7
X_train, X_validation, Y_train, Y_validation = model_selection.train_test_split(X, Y, test_size=validation_size, random_state=seed)

In [66]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
'''
X = df.loc[:1000,[ 'First_Week', 'Forth_Week', 'Second_Week',
       'Third_Week', 'Rank_First_Week', 'Rank_Second_Week', 'Rank_Third_Week',
       'Rank_Forth_Week', 'Avg_Rank', 'Total_Number',
       'Rank_number', 'Avg_Number', 'Avg_Number_Rank', 'Max_Rank', 'Min_Rank']]
Y = df.loc[:,'Rank_Final_Week']
x = df.loc[1001:,[ 'First_Week', 'Forth_Week', 'Second_Week',
       'Third_Week', 'Rank_First_Week', 'Rank_Second_Week', 'Rank_Third_Week',
       'Rank_Forth_Week', 'Avg_Rank', 'Total_Number',
       'Rank_number', 'Avg_Number', 'Avg_Number_Rank', 'Max_Rank', 'Min_Rank']]
y = df.loc[:,'Rank_Final_Week']
'''
X=X_train
Y=Y_train
x=X_validation
y=Y_validation
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=.5)

clrTree = tree.DecisionTreeClassifier()
clrTree = clrTree.fit(X, Y)
outTree = clrTree.predict(x)

clrKN = KNeighborsClassifier()
clrKN = clrKN.fit(X, Y)
outKN = clrKN.predict(x)

# Prediction accuracy
print("Accuracy for Decision Tree Classifier: " + str(accuracy_score(y, outTree)*100)+"%")
print("Accuracy for KNeighbors Classifier: " + str(accuracy_score(y, outKN)*100)+"%")

Accuracy for Decision Tree Classifier: 5.938072927276431%
Accuracy for KNeighbors Classifier: 5.286209003870442%

In [16]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state=0)
regressor = regressor.fit(X, Y)
out=regressor.predict(x)
print(regressor.score(X,Y))
print(regressor.score(x,y))

0.9209745084749472
0.9343974226735564

In [17]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
y_pred = gnb.fit(X, Y).predict(x)


# Calculate Accuracy Rate by using accuracy_score()
print("Accuracy Rate, which is calculated by accuracy_score() is: %f" % accuracy_score(y, y_pred))

Accuracy Rate, which is calculated by accuracy_score() is: 0.996130

In [ ]:
import numpy as np
import pandas as pd
from sklearn import cross_validation, ensemble, preprocessing, metrics
#  random forest 
forest = ensemble.RandomForestClassifier(n_estimators = 10)
forest_fit = forest.fit(X, Y)

# 
test_y_predicted = forest.predict(x)

# 
accuracy = metrics.accuracy_score(y, test_y_predicted)
print(accuracy)

In [ ]:
df.values[:,1:]

In [ ]:
from pandas.tools.plotting import scatter_matrix
import matplotlib.pyplot as plt
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [ ]:
array = df.values
X = df.loc[:,[ 'First_Week', 'Forth_Week', 'Second_Week',
       'Third_Week', 'Rank_First_Week', 'Rank_Second_Week', 'Rank_Third_Week',
       'Rank_Forth_Week', 'Rank_Final_Week', 'Avg_Rank', 'Total_Number',
       'Rank_number', 'Avg_Number', 'Avg_Number_Rank', 'Max_Rank', 'Min_Rank']].values
Y = df.loc[:,'Rank_Final_Week'].values
validation_size = 0.20
seed = 7
X_train, X_validation, Y_train, Y_validation = model_selection.train_test_split(X, Y, test_size=validation_size, random_state=seed)

In [ ]:
outTree

In [ ]:
Y_validation

In [ ]:
for u in print(Y_validation,outTree).values:
    print(u)

In [ ]:
clrTree = tree.DecisionTreeClassifier()
clrTree = clrTree.fit(X_train, Y_train)
outTree = clrTree.predict(X_validation)
print("Accuracy for Decision Tree Classifier: " + str(accuracy_score(Y_validation, outTree)*100)+"%")

In [ ]:
print(classification_report(Y_validation,outTree))

In [ ]:
outTree

In [ ]:
pd.DataFrame([outTree,Y_validation])

In [41]:
outTree = np.array(outTree)
Y_validation = np.array(y)


dataset = pd.DataFrame({'outTree': outTree, 'Y_validation': list(Y_validation)}, columns=['outTree', 'Y_validation'])

In [ ]:
dataset

In [43]:
dataset['std']=dataset[['outTree','Y_validation']].std(axis=1,ddof=1)
dataset

      outTree  Y_validation          std
0        4453          4422    21.920310
1        4503          4455    33.941125
2        4398          4460    43.840620
3        4485          4496     7.778175
4        4507          4496     7.778175
5        3667          3710    30.405592
6        4465          4463     1.414214
7        3054          3468   292.742207
8        4505          4508     2.121320
9        4215          4246    21.920310
10       4507          4462    31.819805
11       3313          4208   632.860569
12       4497          4483     9.899495
13       4502          4501     0.707107
14       4507          4504     2.121320
15       4188          4288    70.710678
16       4469          4443    18.384776
17       4502          4501     0.707107
18       4450          4473    16.263456
19       4505          4508     2.121320
20       2351          2453    72.124892
21       4413          4470    40.305087
22       4178          4256    55.154329
23       4121          4382   184.554870
24       4508          4508     0.000000
25       4508          4508     0.000000
26       4508          4507     0.707107
27       1130          1090    28.284271
28       4497          4501     2.828427
29       4507          4508     0.707107
...       ...           ...          ...
9788     4472          4508    25.455844
9789     4433          4491    41.012193
9790     4507          4504     2.121320
9791     4508          4500     5.656854
9792     4496          4490     4.242641
9793     4508          4507     0.707107
9794     4457          4436    14.849242
9795     4508          4507     0.707107
9796     4503          4505     1.414214
9797     3750          3670    56.568542
9798     4089          4190    71.417785
9799     3906          4094   132.936075
9800     2057          2027    21.213203
9801     4403          4451    33.941125
9802     2084          4019  1368.251622
9803     4504          4506     1.414214
9804      478           880   284.256926
9805     4504          4476    19.798990
9806     4472          4459     9.192388
9807     4374          4377     2.121320
9808     4508          4507     0.707107
9809     4487          4466    14.849242
9810     4295          4322    19.091883
9811     4507          4498     6.363961
9812     4080          3958    86.267027
9813     2262          1897   258.093975
9814     4508          4502     4.242641
9815     4400          4391     6.363961
9816     4505          4505     0.000000
9817     4504          4499     3.535534

[9818 rows x 3 columns]

In [44]:
dataset[dataset['outTree']!=dataset['Y_validation']]

      outTree  Y_validation          std
0        4453          4422    21.920310
1        4503          4455    33.941125
2        4398          4460    43.840620
3        4485          4496     7.778175
4        4507          4496     7.778175
5        3667          3710    30.405592
6        4465          4463     1.414214
7        3054          3468   292.742207
8        4505          4508     2.121320
9        4215          4246    21.920310
10       4507          4462    31.819805
11       3313          4208   632.860569
12       4497          4483     9.899495
13       4502          4501     0.707107
14       4507          4504     2.121320
15       4188          4288    70.710678
16       4469          4443    18.384776
17       4502          4501     0.707107
18       4450          4473    16.263456
19       4505          4508     2.121320
20       2351          2453    72.124892
21       4413          4470    40.305087
22       4178          4256    55.154329
23       4121          4382   184.554870
26       4508          4507     0.707107
27       1130          1090    28.284271
28       4497          4501     2.828427
29       4507          4508     0.707107
30       4317          4443    89.095454
31       4487          4455    22.627417
...       ...           ...          ...
9787     3958          4285   231.223917
9788     4472          4508    25.455844
9789     4433          4491    41.012193
9790     4507          4504     2.121320
9791     4508          4500     5.656854
9792     4496          4490     4.242641
9793     4508          4507     0.707107
9794     4457          4436    14.849242
9795     4508          4507     0.707107
9796     4503          4505     1.414214
9797     3750          3670    56.568542
9798     4089          4190    71.417785
9799     3906          4094   132.936075
9800     2057          2027    21.213203
9801     4403          4451    33.941125
9802     2084          4019  1368.251622
9803     4504          4506     1.414214
9804      478           880   284.256926
9805     4504          4476    19.798990
9806     4472          4459     9.192388
9807     4374          4377     2.121320
9808     4508          4507     0.707107
9809     4487          4466    14.849242
9810     4295          4322    19.091883
9811     4507          4498     6.363961
9812     4080          3958    86.267027
9813     2262          1897   258.093975
9814     4508          4502     4.242641
9815     4400          4391     6.363961
9817     4504          4499     3.535534

[9044 rows x 3 columns]

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

X = df.loc[:,[  'First_Week', 'Forth_Week', 'Second_Week',
       'Third_Week', 'Rank_First_Week', 'Rank_Second_Week', 'Rank_Third_Week',
       'Rank_Forth_Week', 'Avg_Rank', 'Max_Rank', 'Min_Rank']].values
Y = df.loc[:,'Rank_Final_Week'].values

#X = df.loc[:,[ 'Total_Number']].values
#Y = df.loc[:,'Rank_number'].values
validation_size = 0.20
seed = 7
X_train, X_validation, Y_train, Y_validation = model_selection.train_test_split(X, Y, test_size=validation_size, random_state=seed)


X=X_train
Y=Y_train
x=X_validation
y=Y_validation
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=.5)

clrTree = tree.DecisionTreeClassifier()
clrTree = clrTree.fit(X, Y)
outTree = clrTree.predict(x)

clrKN = KNeighborsClassifier()
clrKN = clrKN.fit(X, Y)
outKN = clrKN.predict(x)

# Prediction accuracy
print("Accuracy for Decision Tree Classifier: " + str(accuracy_score(y, outTree)*100)+"%")
print("Accuracy for KNeighbors Classifier: " + str(accuracy_score(y, outKN)*100)+"%")

In [ ]:
outKN

In [ ]:
y

In [ ]:
df.sort_values('mad',ascending=True)

In [32]:
df.sort_values('Rank_Final_Week',ascending=True).iloc[:,5:].head(10)

,Third_Week,Rank_First_Week,Rank_Second_Week,Rank_Third_Week,Rank_Forth_Week,Rank_Final_Week,Avg_Rank,Avg_First_Week,Avg_Second_Week,Avg_Third_Week,...,Avg_mid_Rank,std,median,mad,var,First_Rank_Gap,Second_Rank_Gap,Third_Rank_Gap,Forth_Rank_Gap,Final_Rank_Gap
93501,6227453,1,1,1,1,1,1.00,960011.00,913975.571429,889636.142857,...,1.0,0.000000,1.0,0.000,0.000000,1,1,1,1,1
141434,4696105,2,2,2,2,2,2.00,642126.75,611155.857143,670872.142857,...,2.0,0.000000,2.0,0.000,0.000000,1,1,1,1,1
158458,3262190,3,3,4,3,3,3.25,493703.75,486755.571429,466027.142857,...,3.5,0.500000,3.0,0.375,0.250000,1,1,1,1,1
114549,2567695,6,5,6,5,4,5.50,304313.75,358991.714286,366813.571429,...,5.5,0.577350,5.5,0.500,0.333333,1,1,1,1,1
95614,3101041,25,26,5,4,5,15.00,156460.50,152256.714286,443005.857143,...,15.0,12.138094,15.0,10.500,147.333333,1,1,1,1,1
106501,3337862,8,6,3,6,6,5.75,265927.00,337272.428571,476837.428571,...,5.5,2.061553,6.0,1.375,4.250000,1,1,1,1,1
90158,2397783,4,4,7,7,7,5.50,388525.75,363729.000000,342540.428571,...,5.5,1.732051,5.5,1.500,3.000000,1,1,1,1,1
16585,2226310,12,15,9,9,8,11.25,240310.75,221509.571429,318044.285714,...,12.0,2.872281,10.5,2.250,8.250000,1,1,1,1,1
65173,2337695,21,7,8,8,9,11.00,175082.00,312910.571429,333956.428571,...,14.0,6.683313,8.0,5.000,44.666667,1,1,1,1,1
53172,2061236,5,8,10,10,10,8.25,321334.50,303036.285714,294462.285714,...,7.5,2.362908,9.0,1.750,5.583333,1,1,1,1,1

In [33]:
df.sort_values('Avg_Rank',ascending=True).iloc[:,5:].head(10)

,Third_Week,Rank_First_Week,Rank_Second_Week,Rank_Third_Week,Rank_Forth_Week,Rank_Final_Week,Avg_Rank,Avg_First_Week,Avg_Second_Week,Avg_Third_Week,...,Avg_mid_Rank,std,median,mad,var,First_Rank_Gap,Second_Rank_Gap,Third_Rank_Gap,Forth_Rank_Gap,Final_Rank_Gap
93501,6227453,1,1,1,1,1,1.00,960011.00,913975.571429,889636.142857,...,1.0,0.000000,1.0,0.000,0.000000,1,1,1,1,1
141434,4696105,2,2,2,2,2,2.00,642126.75,611155.857143,670872.142857,...,2.0,0.000000,2.0,0.000,0.000000,1,1,1,1,1
158458,3262190,3,3,4,3,3,3.25,493703.75,486755.571429,466027.142857,...,3.5,0.500000,3.0,0.375,0.250000,1,1,1,1,1
90158,2397783,4,4,7,7,7,5.50,388525.75,363729.000000,342540.428571,...,5.5,1.732051,5.5,1.500,3.000000,1,1,1,1,1
114549,2567695,6,5,6,5,4,5.50,304313.75,358991.714286,366813.571429,...,5.5,0.577350,5.5,0.500,0.333333,1,1,1,1,1
106501,3337862,8,6,3,6,6,5.75,265927.00,337272.428571,476837.428571,...,5.5,2.061553,6.0,1.375,4.250000,1,1,1,1,1
53172,2061236,5,8,10,10,10,8.25,321334.50,303036.285714,294462.285714,...,7.5,2.362908,9.0,1.750,5.583333,1,1,1,1,1
98090,2052226,10,9,11,11,11,10.25,257058.75,281868.428571,293175.142857,...,10.0,0.957427,10.5,0.750,0.916667,1,1,1,1,1
65173,2337695,21,7,8,8,9,11.00,175082.00,312910.571429,333956.428571,...,14.0,6.683313,8.0,5.000,44.666667,1,1,1,1,1
48935,1803376,9,10,12,13,13,11.00,264027.50,265785.285714,257625.142857,...,11.0,1.825742,11.0,1.500,3.333333,1,1,1,1,1